.container{
	width: 100%;
}

.includes{
	margin: 0 0 20px 0;
}

.includes li{
	display: inline;
	margin: 0 20px 0 0;	
}

#css{
	height: 300px;
	width: 30%;
	position: absolute;
}

#html{
	height: 300px;
	float: left;
	position: absolute;
	width: 69%;
	margin-left: 31%;
	overflow: hidden;
}

#editors{
	height: 380px;
}

#render{
	position: absolute;
	top: 380px;
	width: 100%;
	height: 90%;
}