.container{
	width: 100%;
}

.includes{
	margin: 0 0 20px 0;
}

.includes li{
	display: inline;
	margin: 0 20px 0 0;	
}

.CodeMirror {
	border: 1px solid #888; 
	width: 49%; 
	float:left;
	border-radius: 2px;
}

#css + .CodeMirror{
	width: 20%;
}

#html + .CodeMirror{
	position: absolute;
	width: 79%;
	margin-left: 21%;
	overflow: hidden;
}

#render{
	float: left;
	width: 100%;
	height: 90%;
}